[Unit]
Description=GoMile API (NestJS)
After=network.target postgresql.service redis.service

[Service]
Type=simple
User=dangddk
WorkingDirectory=/home/dangddk/Ensimag/gomile/apps/api
EnvironmentFile=/home/dangddk/Ensimag/gomile/apps/api/.env
ExecStart=/usr/bin/node dist/main
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=gomile-api

[Install]
WantedBy=multi-user.target
